<mat-card>
  <mat-card-title-group>
    <mat-card-title>Facturación</mat-card-title>
    <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    <!-- <img matCardImage src="Side image"> -->
  </mat-card-title-group>
  <!-- <img matCardImage src="Card wide image source"> -->
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed metus
    elementum, convallis dui ac, tempor dui. Etiam lacinia placerat nulla at
    tempor. Cras efficitur elementum quam, ut fringilla diam molestie a.
    Pellentesque sed lobortis arcu. In tincidunt cursus diam, a tempor justo
    mollis in. Fusce id orci egestas, dignissim magna ut, facilisis dolor.
    Curabitur fringilla massa mi, sit amet pharetra sapien volutpat ac. Duis
    purus neque, hendrerit eu congue et, fermentum quis nunc.
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button>Salir</button>
  </mat-card-actions>
</mat-card>
