<h2>{{ this.datos.name }}</h2>

<div class="">
  <form [formGroup]="form">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>
    <br />
    <br />

    <mat-dialog-actions
      class="button-row"
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <button class="mat-raised-button" (click)="close()">Cancelar</button>
      <button class="mat-raised-button mat-primary" (click)="save()">
        Guardar
      </button>
    </mat-dialog-actions>
  </form>
</div>
