<div>
  <mat-table #table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[col] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      (click)="getRecord(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="md-fab-bottom-right">
  <button
    mat-mini-fab
    color="accent"
    (click)="openDialog()"
    matTooltip="Agrega un nuevo registro"
    aria-label="Nuevo"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
